{% extends 'base.html.twig' %}

{% block title %}Conundrum{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>Conundrum Entry Point</h1>
        <a href="{{ path('conundrum_subscription') }}">Subscribe</a>
        <a href="{{ path('conundrum_login') }}">Login</a>
    </div>
{% endblock %}
